
<div class="wrapper">
  <!-- Sidebar -->
  <%= # render 'overview/sidebar' %>

  <div class="container mt-5">
    <div class="rounded-3 text-center">
      <%= month_calendar(events: @occurrences) do |date, occurrences| %>
        <%= date %>

        <% occurrences.each do |occurrence| %>
          <div>
            <%= occurrence.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

