<div class="container mt-5">
  <div class="card text-white bg-danger">
    <div class="card-header m-0">
      <h2>Error 404</h2>
    </div>
    <div class="card-body">
      <h5>
        The requested resource was not found.
      </h5>
    </div>
  </div>

</div>