<div class="calendar-heading">
  <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
  <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
  <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
</div>