/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
//@import "bootstrap";

.sidebar {
  padding: 1rem;
  width: 280px;
  .expand-button {
    display: none;
  }
}

@media screen and (max-width: 39.9375em) {
  .sidebar {
    position: fixed;
    height: 100%;
    z-index: 99;
    transition: width 500ms;

    .expand-button {
      display: block;
      position: relative;

      .octicon {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        * {
          display: block;
        }
      }
    }
  }

  .sidebar-mobile {
    width: 1em;
    padding: 0;

    * {
      display: none;
    }
  }

  .dimmer {
    background-color: #00000044;
    z-index: 50;
    display: none;
  }

  #content {
    margin-left: 1em;
  }
}

.main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable {
  overflow-y: scroll;
}

.nav-pills {
  .nav-link.active {
    background: linear-gradient(45deg, #0d6efd, #0dbdfd);
  }
}

a:hover {
  background-color: #fff0;
}

.btn-secondary {
  border: none !important;
}

.btn-primary {
  border: none !important;
  background: #0dbdfd linear-gradient(45deg, #0d6efd, #0dbdfd);

  font-weight: 600;
}

.btn-warning {
  border: none;
}

.btn-primary:hover {
  background: #0dbdfd;
}

.field {
  select {
    //@extend .form-select;
    display: inline;
    width: auto;
  }
}