/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

a:hover {
  background-color: #fff0;
}

.btn-secondary {
  border: none;
}

.btn-primary {
  border: none;
  background: #0dbdfd linear-gradient(45deg, #0d6efd, #0dbdfd);

  font-weight: 600;
}

.btn-warning {
  border: none;
}

.btn-primary:hover {
  background: #0dbdfd;
}

.field {
  select {
    @extend .form-select;
    display: inline;
    width: auto;
  }
}