// Place all the styles related to the overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "simple_calendar";

$irelevant: #ccc;

.calendar-heading {
  a {
    text-decoration: none;
    color: #2E2F30;
  }

  a:hover {
    background-color: white;
    color: #2E2F30;
  }

  .heavy {
    font-weight: 900;
  }

  font-weight: 600;


}

.current {
  line-height: 0.9;

  .current-year {
    font-size: 120%;
  }

  .current-month {
    font-size: 150%;
    font-weight: 700;
  }
}

.simple-calendar {
  .table {

    border: none;
    margin: 0;

    .today {
      //background: #b0e0ff linear-gradient(135deg, #b0e0ff, #80b0ff);
      color: #dc3545;
    }

    th, td {
      border: none;
      background-color: #fff;
      text-align: center;
    }

    th {
      height: 60px;
      padding-bottom: 20px;
      color: white;
      background-color: #6c757d;
      border-bottom: 1px solid #eee;
    }

    td {
      border: 1px solid #eee;
      cursor: pointer;
    }

    td:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px 1px #0001;
    }

    tr {
      background-color: #fff;
    }

    .day {
      font-weight: 1000;
      font-size: 110%;

      div {
        font-size: 60%;
      }
    }

    .wday-0, .wday-6 {
      background-color: #f7f7f7;
    }
  }



  .prev-month {
    color: $irelevant;
  }
  .next-month {
    color: $irelevant;
  }
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: linear-gradient(#fff, #fff);
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.col-white {
  color: white;
}